
button{
    /* color: rgb(26, 4, 105); */
     background-color: rgb(123, 235, 123);   
     margin: 7px;
     border-radius: 1em;
     display: flex;
     justify-content: right;

}
/* .navbarform{
  background-color:rgb(247, 240, 240);
  cursor: pointer;
  padding: 0.375em 0.625em;
  font-size: 0.625em;
  color: black;
} */
/* .navbarform1{
  cursor: pointer;
    padding: 0.375em 0.625em;
    font-size: 0.625em;
} */
form{
   background-color: rgb(51, 30, 235);
   box-shadow: 30px 30px 20px 0px rgba(163, 163, 159, 0.521) ;
   
    /* centrar formulario */
    
    margin:auto;
    width: 500px;

    /* esquema formulario */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}  
ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
form li+li{

     margin-top: 1em;

}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    
  }

  input{
    
    width: 370px;
    
    
  }
  .privacy{
    display:inline-flex;
    
  }
  .checkitem {
    
     vertical-align: bottom;    
} 
  
  

